body {
    height: 100%;
    margin: 0%;
}

#chat-bottom {
    position: fixed;
    bottom: 10px;
    padding-left : 8%;
    padding-right: 8%;
    background: white;
}

.panel-body {
    overflow-y: scroll;
    height: 85%;
}

.list-group-item {
    margin-bottom: 15px;
    border: 1px solid #fff;
}

.query {
    background: beige;
}

.response {
    background: aliceblue;
}
